@CHARSET "UTF-8";

html {
  height: 100%;
}

body {
	height: 100%;
}

#mainview{
	height: calc(100% - 30px);
	width: 95%;
	margin: 0 auto;	
	display: table;
	padding-top: 51px;
}

.all_page{
	height: 100%;
}

.hidebar{
	top:-52px;
}

.showbar{
	top: 0;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
  display:none
}

nav.navbar{
   -webkit-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.maincontainer{
	margin: 15px;
	padding-top: 15px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 2px;
}


.row-fluid {
	height: 100%; 
	display:table-cell; 
	vertical-align: middle; 
	text-align: center;
}

.grid-align-right{
	text-align: right;
}

.grid-align-center{
	text-align: center;
}

.ui-grid-grid-footer {
	padding-top: 2px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dot_4{
	color: red;
}

.dot_3{
	color: green;
}

.dot_2{
	color: #E8A317;
}

.dot_1{
	color: #00e7e7;
}

.grid_loading{
	position: absolute;
	top: 0;
  	bottom: 0;
  	width: 100%;
}

.grid_loading .msg {
  opacity: 1;
  position: absolute;
  background-color: rgba(238,238,238,0.85);
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}

.grid_loading .msg span {
  display: table-cell;
  vertical-align: middle;
}


.footer{
	text-align: center;
}

.ui-grid-cell {
	overflow: visible;
}

.context-menu{
	
}

.context-menu .dropdown-menu {
	min-width: 100px;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
	content: '\25BC';
}

.tab_nivel0{
	padding-left: 0px;
}

.tab_nivel1{
	padding-left: 5px;
}

.tab_nivel2{
	padding-left: 10px;
}

.tab_nivel3{
	padding-left: 15px;
}

.tab_nivel4{
	padding-left: 20px;
}

.tab_nivel5{
	padding-left: 25px;
}
